@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>

    <div class="Employee-container">
        <section class="Employee-Icon">
            <img src="~/images/employeeicon.png" />
            <p>IT</p>
        </section>

        <section class="Employee-Icon">
            <img src="~/images/employeeicon.png" />
            <p>Manager</p>
        </section>

        <section class="Employee-Icon">
            <img src="~/images/employeeicon.png" />
            <p>HR</p>
        </section>
    </div>
    
   

</div>
